<div class="container">
  <div class="row">
    <h2><%= @restaurant.name %></h2>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
    <p><%= @restaurant.category %></p>
    <hr />
    <%= link_to "Return to list of restaurants", restaurants_path %>
  </div>
</div>
